footer{
    background-color: #343353;
    color: white;
}
footer .container .row{
    color: white;
}
/* .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; 
    padding: 20px 0; 
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
   */